$db/dt = -3$

let Area = $A$
we are asked for $dA/dt$ when $y=20$

$A = bh$

we need to get rid of $h$ in that.  Trig to the rescue, the small triangle:

$tan(30) = h/y$

$h = y.tan(30)$

substitute that in

$A = b.tan(30).y$

Now we have A in terms of b and y.  Let's get rid of y.  Trig again to the rescue, this time the big triangle.

$cos(30) = (b+y)/50$

$b+y = 50.cos(30)$

$y = 50.cos(30)-b$

Let's get some actual numbers here ...

In [2]:
from math import cos,tan,radians
print(50*cos(radians(30)))
print(tan(radians(30)))

43.30127018922194
0.5773502691896256

so 

$A = b . (0.58) y$

$y = 43.3 - b$

so 

$A = (0.58)b . (43.3 - b)$

$A = (43.3)(0.58)b - (0.58)b^2$

In [3]:
print(43.3*0.58)

25.113999999999997

$A = 25.1b - (0.58)b^2$

$dA/db = 25.1 - 2(0.58)b$

$dA/db = 25.1 - 1.16b$

when y = 20, we can find b

$y = 43.3âˆ’b$

$b = 43.3 - y$

$b = 23.3$

substitute it in

$dA/db = 25.1 - 1.16(23.3)$

In [4]:
print(25.1-1.15*23.3)

-1.6949999999999967